{
    "branch_idx": 0,
    "branches": [
        "dev",
        "beta",
        "test",
        "main"
    ],

    "enable_branch": false,
    "enable_branch_display": false,
    "enable_user": true,
    "enable_versioning": false,
    "library_dir": "$MOVFX/otls",
    "library_dir_idx": 4,
    "library_file": "$HDAAUTHOR.$HDABRANCH.$HDATYPENAME.$HDAMAJOR.$HDAMINOR.hdalc",
    "library_file_category_prefix": 1,
    "library_file_idx": 0,
    "tablabel_idx": 1,
    "tabmenu_entry": "movfx",
    "user_idx": 0,
    "users": [
        "movfx"
    ]
}